@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg__nav {
  background-image: url("/assets/images/bg-header.png");
  width: 100%;
  background-size: cover;
}

.bg__2 {
  background-image: url("/assets/images/Frame 38.png");
  width: 100%;
  background-size: cover;
}

.bg__3 {
  background-image: url("/assets/images/last-frame.png");
  width: 100%;
  background-size: cover;
}